<tabset>
	<tab ng-controller="LinksController">
		<tab-heading>
			<i class="glyphicon glyphicon-list-alt"></i> links
		</tab-heading>
		<table class="table">
			<thead>
				<tr>
					<th>name</th>
					<th>source</th>
					<th>destination</th>
					<th>functions</th>
				</tr>
			</thead>
			<tr>
				<td><input type="text" class="form-control" ng-model="newLink.name"></td>
				<td><input type="text" class="form-control" ng-model="newLink.source"></td>
				<td><input type="text" class="form-control" ng-model="newLink.destination"></td>
				<td>
					<div class="btn-group">
						<button type="button" class="btn btn-info" ng-click="clear()"><i class="glyphicon glyphicon-repeat"></i></button>
						<button type="button" class="btn btn-success" ng-click="add()"><i class="glyphicon glyphicon-ok"></i></button>
					</div>
				</td>
			</tr>
			<tr ng-repeat="link in links">
				<td>{{link.name}}</td>
				<td>{{link.source}}</td>
				<td>{{link.destination}}</td>
				<td>
					<div class="btn-group">
						<button type="button" class="btn btn-success" ng-click="run(link._id)"><i class="glyphicon glyphicon-play"></i></button>
						<button type="button" class="btn btn-warning" ng-click="edit(link._id)"><i class="glyphicon glyphicon-pencil"></i></button>
						<button type="button" class="btn btn-danger" ng-click="delete(link._id)"><i class="glyphicon glyphicon-trash"></i></button>
					</div>
				</td>
			</tr>
		</table>
	</tab>
	<tab ng-controller="SettingsController">
		<tab-heading>
			<i class="glyphicon glyphicon-cog"></i> settings
		</tab-heading>
		<table class="table">
			<thead>
				<tr>
					<th>key</th>
					<th>value</th>
					<th>functions</th>
				</tr>
			</thead>
			<tr ng-repeat="setting in settings">
				<td>{{setting}}</td>
				<td>{{setting.value}}</td>
				<td>
					<div class="btn-group">
						<button type="button" class="btn btn-warning" ng-click="editItem(link._id)">edit</button>
						<button type="button" class="btn btn-danger" ng-click="deleteItem(link._id)">delete</button>
					</div>
				</td>
			</tr>
		</table>
	</tab>
</tabset>