<div class="modal-header">
	<h3 class="modal-title">Are you sure you want to delete this link?</h3>
</div>
<div class="modal-body">
	<table class="table">
		<thead>
			<tr>
				<th>name</th>
				<th>source</th>
				<th>destination</th>
			</tr>
		</thead>
		<tr>
			<td>{{link.name}}</td>
			<td>{{link.source}}</td>
			<td>{{link.destination}}</td>
		</tr>
	</table>
</div>
<div class="modal-footer">
	<div class="btn-group">
		<button class="btn btn-warning" ng-click="cancel()"><i class="glyphicon glyphicon-remove"></i> cancel</button>
	</div>
	<div class="btn-group" dropdown>
		<button type="button" class="btn btn-danger dropdown-toggle">
			<i class="glyphicon glyphicon-trash"></i> delete <span class="caret"></span>
		</button>
		<ul class="dropdown-menu pull-right" style="text-align: left;" role="menu">
			<li><a ng-click="ok('unlink');"><i class="glyphicon glyphicon-link"></i> just unlink</a></li>
			<li><a ng-click="ok('both');"><i class="glyphicon glyphicon-trash"></i> unlink and remove</a></li>
			<li><a ng-click="ok('remove');"><i class="glyphicon glyphicon-remove"></i> just remove</a></li>
		</ul>
	</div>
</div>